<div class="container mt-5">
    <input type="text" (input)="onSearchChange($event.target.value)" placeholder="Search Post" />
    <div *ngFor="let post of pagedPosts.data" class="card mt-2 mb-3">
        <div class="card-body">
            <h5 class="card-title">{{post.user}} <small>{{post.createdAt | date:'dd/MM/yyyy'}}</small></h5>
            <p class="card-text">{{post.text}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>User</th>
                        <th>Created</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of post.comments">
                        <td>{{comment.commentText}}</td>
                        <td>{{comment.user}}</td>
                        <td>{{comment.createdAt | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <span class="text-success" style="margin-right: 15px;"><i class="fa fa-angle-up"
                                    aria-hidden="true"></i> {{comment.likeCount}}</span>
                            <span class="text-danger"><i class="fa fa-angle-down" aria-hidden="true"></i>
                                {{comment.dislikeCount}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': !pagedPosts.hasPrevious}">
                <button (click)="onLoadPage(pagedPosts.currentPage - 1)" class="page-link" href="#">Previous</button>
            </li>
            <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': page === pagedPosts.currentPage}">
                <button (click)="onLoadPage(page)" class="page-link" href="#">{{page}} <span
                        class="sr-only">(current)</span></button>
            </li>
            <li class="page-item" [ngClass]="{'disabled': !pagedPosts.hasNext}">
                <button (click)="onLoadPage(pagedPosts.currentPage + 1)" class="page-link" href="#">Next</button>
            </li>
            <li class="page-item disabled"><a class="page-link" href="#">Total {{pagedPosts.totalCount}} Posts</a></li>
        </ul>
    </nav>
</div>